<div class="container">
  <%= form_tag import_drapes_path, multipart: true do %>
    <div class="row border border-dark py-3">
      <div class="col-6 w-100"> 
        <%= file_field_tag :file , id: 'elmFile', onchange: 'selectFile()',class:"w-100"%>
      </div>
      <div class="col-6 w-100">
        <%= submit_tag "Import", class:"w-100 bg-info", id: 'btnImport', disabled: true  %>
      </div>
    </div>
  <% end %>
  <div class="row border border-dark py-3">
    <div class="col-6 w-100">
      <%= @drapes.count %>items
    </div>
    <div class="col-6 w-100">
    <% if @drapes.count > 0 %>
      <%= button_to "全て削除", destroy_all_drapes_path, method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる" },class:"w-100 bg-danger text-white" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container bg-secondary">
  <div class="row w-100 my-3">
    <div class="col-12 w-100 text-white">
      Drape_SQL_CODE
    </div>
  </div>
</div>
<div class="container mb-5" style="font-size:9px">
  <div class="row">
    <% if @drapes.count > 0 %>
      <div class="col-12">truncate table drapes;</div>
    <% end %>
  </div>
  <div class="row">
    <% @drapes.each do |dr| %>
      <div class="col-12">
      insert into koike_sim_db.drapes(code,functions,price,brand,taste,`createdAt`,`updatedAt`) values (
      <% if dr.code.present? %>"<%= dr.code %>",<% else %>null,<% end %>
      <% if dr.functions.present? %>"<%= dr.functions %>",<%else%>null,<% end %>
      <% if dr.price.present? %>"<%= dr.price %>",<% else %>null,<% end %>
      <% if dr.brand.present? %>"<%= dr.brand %>",<% else %>null,<% end %>
      <% if dr.taste.present? %>"<%= dr.taste %>",<% else %>null,<% end %>
      now(),now());
      </div>
    <% end %>
  </div>
</div>

<script>
  function selectFile() {
    if (document.getElementById("elmFile").value === ""){
        document.getElementById("btnImport").disabled = true;
    }
    else {
        document.getElementById("btnImport").disabled = false;
    }
}
</script>