<div class="container">
  <%= form_tag import_laces_path, multipart: true do %>
    <div class="row border border-dark py-3">
      <div class="col-6 w-100"> 
        <%= file_field_tag :file , id: 'elmFile', onchange: 'selectFile()',class:"w-100"%>
      </div>
      <div class="col-6 w-100">
        <%= submit_tag "Import", class:"w-100 bg-info", id: 'btnImport', disabled: true  %>
      </div>
    </div>
  <% end %>
  <div class="row border border-dark py-3">
    <div class="col-6 w-100">
      <%= @lace.count %>items
    </div>
    <div class="col-6 w-100">
    <% if @laces.count > 0 %>
      <%= button_to "全て削除", destroy_all_laces_path, method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる" },class:"w-100 bg-danger text-white" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container my-3">
  <div class="row">
    <div class="col-12 text-center">
      <%= paginate @laces %>
    </div>
  </div>
</div>
<div class="container bg-secondary">
  <div class="row w-100 my-3">
    <div class="col-12 w-100 text-white">
      Lace_SQL_CODE
    </div>
  </div>
</div>
<div class="container mb-5" style="font-size:9px">
  <div class="row">
    <% if @laces.count > 0 %>
      <%if @pageNo == 1 %>
        <div class="col-12 text-danger">truncate table laces;</div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @laces.each do |la| %>
      <div class="col-12">
      insert into koike_sim_db.laces(code,functions,price,brand,`createdAt`,`updatedAt`) values (
      <% if la.code.present? %>"<%= la.code %>",<% else %>null,<% end %>
      <% if la.functions.present? %>"<%= la.functions %>",<%else%>null,<% end %>
      <% if la.price.present? %>"<%= la.price %>",<% else %>null,<% end %>
      <% if la.brand.present? %>"<%= la.brand %>",<% else %>null,<% end %>
      now(),now());
      </div>
    <% end %>
  </div>
</div>
<div class="container my-3">
  <div class="row">
    <div class="col-12 text-center">
      <%= paginate @laces %>
    </div>
  </div>
</div>
<script>
  function selectFile() {
    if (document.getElementById("elmFile").value === ""){
        document.getElementById("btnImport").disabled = true;
    }
    else {
        document.getElementById("btnImport").disabled = false;
    }
}
</script>