<div class="container">
  <%= form_tag import_roll_screens_path, multipart: true do %>
    <div class="row border border-dark py-3">
      <div class="col-6 w-100"> 
        <%= file_field_tag :file , id: 'elmFile', onchange: 'selectFile()',class:"w-100"%>
      </div>
      <div class="col-6 w-100">
        <%= submit_tag "Import", class:"w-100 bg-info", id: 'btnImport', disabled: true  %>
      </div>
    </div>
  <% end %>
  <div class="row border border-dark py-3">
    <div class="col-6 w-100">
      <%= @roll_screens.count %>items
    </div>
    <div class="col-6 w-100">
    <% if @roll_screens.count > 0 %>
      <%= button_to "全て削除", destroy_all_roll_screens_path, method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる" },class:"w-100 bg-danger text-white" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container bg-secondary">
  <div class="row w-100 my-3">
    <div class="col-12 w-100 text-white">
      RollScreen_SQL_CODE
    </div>
  </div>
</div>
<div class="container mb-5" style="font-size:9px">
  <div class="row">
    <% if @roll_screens.count > 0 %>
      <div class="col-12">truncate table roll_screens;</div>
    <% end %>
  </div>
  <div class="row">
    <% @roll_screens.each do |roll| %>
      <div class="col-12">
      insert into koike_sim_db.roll_screens(code,functions,price,`createdAt`,`updatedAt`) values (
      <% if roll.code.present? %>"<%= roll.code %>",<% else %>null,<% end %>
      <% if roll.functions.present? %>"<%= roll.functions %>",<%else%>null,<% end %>
      <% if roll.price.present? %>"<%= roll.price %>",<% else %>null,<% end %>
      now(),now());
      </div>
    <% end %>
  </div>
</div>

<script>
  function selectFile() {
    if (document.getElementById("elmFile").value === ""){
        document.getElementById("btnImport").disabled = true;
    }
    else {
        document.getElementById("btnImport").disabled = false;
    }
}
</script>