<div class="row justify-content-center bg-dark sticky-top">
  <div class="col-12 text-center py-1 text-white">
    <%= link_to "SQL_Service", root_path,class:'col-12 w-100 text-white' %>
  </div>
</div>
<div class="row justify-content-around border border-dark bg-light py-2">
  <%= link_to "Drapes", drapes_path,class:'col-2 w-100 text-secondary text-center' %>
  <%= link_to "Laces", laces_path,class:'col-2 w-100 text-secondary text-center' %>
  <%= link_to "RomanShades", roman_shades_path,class:'col-2 w-100 text-secondary text-center' %>
  <%= link_to "RollScreens", roll_screens_path,class:'col-2 w-100 text-secondary text-center' %>
  <%= link_to "Wallpapers", wallpapers_path,class:'col-2 w-100 text-secondary text-center' %>
</div>
<div class="row justify-content-around border border-dark bg-light py-2">
  <%= link_to "Brands", brands_path,class:'col-3 w-100 text-secondary text-center' %>
  <%= link_to "Functions", functions_path,class:'col-3 w-100 text-secondary text-center' %>
  <%= link_to "Prices", prices_path,class:'col-3 w-100 text-secondary text-center' %>
  <%= link_to "Tastes", tastes_path,class:'col-3 w-100 text-secondary text-center' %>
</div>